.btn-custom-next {
  border: 0px;
  border-radius: 0px;
  background-color: #ff4000;
  color: #ffffff;
  padding: 24px;
  font-size: 18px;
  font-weight: 700;
}

.btn-custom-next:hover {
  background-color: #ff6025;
}
.card-option-select-alter {
  padding: 12px;
  margin: 0 0 8px;
  color: #ffffff;
  border: 2px solid #1e1e1e;
  background-color: #1e1e1e;
  border-radius: 0px;
}
.card-option-select-alter:hover {
  background-color: #2a2a2a;
  border: 2px solid #2a2a2a;
  cursor: pointer;
}

.icon-active {
  color: #ff6025;
}

.card-actived {
  border: 2px solid #ff6025 !important;
}

.line-color-custom {
  background-color: #393939;
}

.btn-custom-next {
  border: 0px;
  border-radius: 16px;
  background-color: #eb3349;
  color: #ffffff;
  padding: 24px;
  font-size: 18px;
  font-weight: 700;
}

.btn-custom-next:hover {
  background-color: #e8233a;
}
.card-option-select {
  padding: 8px;
  margin: 0 0 16px;
  color: #ffffff;
  border: 2px solid #36343b;
  background-color: #36343b;
  border-radius: 16px;
}
.card-option-select:hover {
  cursor: pointer;
}

.icon-active {
  color: #ffffff;
}

.card-actived {
  background-color: #eb3349;
  border: 2px solid #eb3349 !important;
}
.card-actived:hover {
  background-color: #eb3349;
  border: 2px solid #eb3349 !important;
}
