.grid-custom-step {
  display: flex;
  flex-flow: wrap;
  margin: 0px auto;
  width: 100%;
  max-width: 424px;
}

@media (min-width: 1366px) {
  .grid-custom-step {
    max-width: 470px !important;
  }
}

.step-title-two {
  font-size: 22px;
}

.card-custom-two {
  height: 148px;
  border-radius: 0px;
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  background-color: #1e1e1e;
  border: 2px solid #1e1e1e;
  padding: 22px;
  position: relative;
  overflow: hidden;
}

.card-custom-two:hover {
  cursor: pointer;
  background-color: #2a2a2a;
  border: 2px solid #2a2a2a;
}

.card-img-custom-two {
  position: absolute;
  right: -16px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}

.img-custom-two {
  height: 300px;
  width: auto;
  object-fit: cover;
  object-position: top; /* Exibe apenas o topo da imagem */
}

.btn-custom-next {
  border: 0px;
  border-radius: 16px;
  background-color: #eb3349;
  color: #ffffff;
  padding: 24px;
  font-size: 18px;
  font-weight: 700;
}

.btn-custom-next:hover {
  background-color: #e8233a;
}
.card-option-select {
  padding: 8px;
  margin: 0 0 16px;
  color: #ffffff;
  border: 2px solid #36343b;
  background-color: #36343b;
  border-radius: 16px;
}
.card-option-select:hover {
  cursor: pointer;
}

.icon-active {
  color: #ffffff;
}

.card-actived {
  background-color: #eb3349;
  border: 2px solid #eb3349 !important;
}
.card-actived:hover {
  background-color: #eb3349;
  border: 2px solid #eb3349 !important;
}
